@font-face{
    font-family:'roboto';
    src:url(fonts/roboto/roboto/roboto-regular.ttf)
}
@font-face{
    font-family:'montser';
    src:url(fonts/montser/Montserrat-Black.ttf)
}
*{
    margin:0
}
body{
    width: 100 vw;
    
}
header{
    display: flex;
    background-color:#cd4b56
}
h1{
    font-family: "montser", sans-serif;
    font-size: 5rem;
}
.navbar{
    width: 80%
}
.logo{
    width: 100px;
    height: 58px;
    top: 0;
}
.menu{
    height: 60px;
    list-style-type: none;
    display: flex;
    
}
#page{
    width: 100vh;
    
}
.btn{
    display: flex;
    margin-top: 50px;
}
.itemsbtn{
    font-family:"roboto", sans-serif;
}
#dev{
    font-family:"montser", sans-serif
}
.technos{
    display: flex
    
}
#entete{  
    width: 100vw;  
    /* background-color: #d92950; */
    background-image: url(/image/hero-background.jpg) ;
    background-repeat: no-repeat;
    padding:20%
}
