*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family:Roboto;
    src:url(/fonts/roboto/Roboto-Regular.ttf)
}
@font-face{
    font-family:montserrat;
    src:url(/fonts/montser/Montserrat-Black.ttf)
}
h1, h2, h3, h4 span i{
    font-family:montserrat sans-serif;
    font-weight: 900;
    font-size: 1.9vw;
}
body{
    width:100vW;
}
header {
    position:fixed;
    width:100vW;
    background-color:#dc3545;
    height: 80px;
    display:flex;
    flex-grow: row wrap;
    padding: 5px;
    z-index: 10;
}
header .entete{
    padding: 5px;
    display:flex;
    flex-grow: row wrap;
    justify-content: space-between;
    width: 100vw;
}
.entete .log{
    width: 100px;
    height: 60px;
}
.logos{
    width: 100px;
    height:60px;
}


.lay .navbar{
    display: flex;
    flex-grow: row wrap;
    text-decoration: none;
    list-style: none;
    padding-right: 15px;    
    
}
.navbar .rub{
   margin: 15px;
}
.navbar a{
    font-family: Roboto,sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.navbar .selected, .navbar a:hover{
    border-bottom: 2px solid #ee5071;
}
/* fin header */
#page{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.hautpage{
    width: 100vw;
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column; 
    flex-wrap:nowrap;
    align-items: center;
    padding: 10%;
}
.tihaut{
    margin:auto;   
    margin-bottom: 0px; 
    text-align: center;
    color: white
}
.tihaut h1{
    
    text-align: center;
    color: #fff;    
    text-transform: uppercase;
}
.tihaut h1 span{
    color: #ffdd5a;
    }
.btn{
    margin-top: 10px;
    padding: 35px;
    margin:auto;   
  }
.btn a{
    text-transform: uppercase;
    padding:15px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #ee5071;
    margin:5px
}
.btn a:hover{
    background-color: #ee5071;
    color: #fff;
}
.tech{
    width:100%;
    margin-top: 40px;
    opacity: 0.33;
    display: flex;
    flex-grow: row wrap;
    justify-content: space-around
}
.tech .itemtech{
    width: 50px;
    height: 50px;
}
/* fin entete de page */
.deve{
    display: flex;
    flex-grow: row wrap;
    padding: 50px 0px;
    justify-self: center;  
    background-color: #f1f0f3;
    color: #424345;
}
.ullistr{
    width:45%;
    height:90vh;
    position:relative;
    z-index:1;
}
.ullistr img{
    width:100%;
    border-radius: 15px;
}
/* text  image */
#illustra1{
    position: absolute;
    z-index: 2;
    width: 100%;
    right: 40px;
    
}
#illustra2{
    position: absolute;
    z-index: 3;
    width:60%;
    right: -5px;
    bottom: 5vh ;
}
.equip{
    width: 50%;
    margin:5px;

}
.equip .qual{
    
    display: grid;
    grid-template-columns: auto auto;
    margin: 5px;
    
}
.qual .ite{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.ite span{
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: bold;
}
.qual img{
    width: 50px;
    height: 62px;
    padding: 10px;
    border-bottom: 2px solid #dc3545;
    margin: 10px;
}
/* fin des ullistration des competences */
.parten{
  
    width: 100vw;
    height: 70vh;
    background: #d92950;
    padding: 25px;
    text-align: center;    
}
.parten h2{
    color: #fff;
    margin:20px 0px;

}
.parten .listpart{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
}
.listpart .itempart{
    width:170px;
    height:200px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center
        
}
.listpart img{
    width: 100%
}

/* fin partenaire */
.projet{
    background-color: #f1f0f3;
    color: #424345;    
    text-align: center;    
    padding: 75px;
}
.typroj{
    display: flex;
    margin: 0 auto;
    padding: 40px;
    color: rgba(24,0,39,.87);
}
.itypro{
    border-top: 10px solid;
    margin: 10px;
    width: 100%;
    padding: 50px;
    line-height:1.9;
    background-color:#fff;
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    height: auto;
}
.color_yellow{
    border-color: #ffe64d;
}
.color_red{
    border-color: #dc3545;
}

.itypro a{
    text-transform: uppercase;
    padding:15px;
    background-color: #ee5071;
    color: #fff;    
    border: 1px solid #fff;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;    
    margin:24px
}
.itypro a:hover{
    background-color: #fff;
    color: #ee5071;
    border-color: #dc3545;
}
.itypro h3{
    color: #ee5071;
    font-family: Montserrat, sans-serif;

}
.itypro p{
    font-family: Montserrat, sans-serif;
    font-weight:18px;
}
/* fin projet */
.real{
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction:  column;
    background: #ae3753;
    align-items: center;
}
.real h2{
    margin: 5px auto;    
    
}
.real .layreal{
    width: 100%;
    display: flex;
    justify-content:space-around;
}
.layreal .itemreal{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.itemreal .clie{
    display: flex;
    justify-content: space-between;

}
.itemreal .pays{
    display: flex;
    justify-items: center;
    border-radius: 15px 0px 0px 15px ;
    margin:10px;
    color: red;
    background-color: #fff;
}
.pays img{
    margin: 0 2px;
}
.itemreal img{
    border-radius: 15px;
    margin-bottom: 5px;
}
.itemreal .techno{
    display: flex;
    justify-content:space-around;
    background-color:deeppink;
}


/* fin real */
.expert{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.expert h1{
    margin:65px;
}
.expert .compexpert{
    width: 100%;
    display: flex;
    justify-content:center;
}
.compexpert .itemexp{
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f3;
    
    border-radius: 0px 0px 15px 15px;
}
.compexpert .hardskill{
    width: 55%;
}
.hardskill .entehard{    
    background-color: #cd4b56;
    padding: 20px;
    color: #fff;

}
.hardskill .bodyhard{
    margin: 25px;
    padding: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.bodyhard .itemshard{
    margin: 10px;  
    text-align: center;
}
.itemshard img{
    width: 45px;
    height: 45px;
}
.compexpert .softskill{
    width: 35%;
}
.softskill .entesofts{
    background-color: #2d223e;
    padding: 20px;
    color: #fff;
}
.softskill .bodysoft{
    margin: 25px;
    padding: 40px;
    background-color: #e0dfe2;
    line-height: 1.5em;
    border-radius: 15px;
}

.bodysoft li{
    
    font-family: ubuntu sans-serif;
    font-size:1.3rem;
    line-height: 1.9em
    
}
/* fin expert */
.pret{
    background-color: #d92950;
    color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}
.pret h2{
    margin: 25px;

}
.pret .bodpret{
    display: flex;
    margin: 20px;
}
.bodpret .itemspret{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.9em;
    font-weight: 400;
}
.itemspret .gimg{
    width:70px;
    height:70px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;

}
.gimg img{
    width: 50%;   
}

.itemspret .separat{
   display: flex;
   align-items: center;

}
.itemspret .special{
    height: 35px;
    width: 35px;
    margin-left: 10px;
}
.pret.footpret{
    margin:26px 0;
}

.footpret a{
    text-transform: uppercase;
    padding:15px;
    background-color: #ee5071;
    border: 1px solid #ee5071;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin:5px
}
.footpret a:hover{
    
    background-color: #ee507213;
    border-color: #fff;
    color: #fff;
}
/* fin pret */
.empl{
    background-color: #f1f0f3;
    display:flex;
    justify-content: center;
    padding:40px;    
}
.empl .rightempl{
    width:48%;
    margin:2%
}
.empl .leftempl{
    width:48%;
    margin:2%;
}
.leftempl span{
    color: #d92950;
}
.leftempl h2,p{
    margin:15px 0px;
}
.leftempl img{
    width:100%;
}
.rightempl{
    display:grid;
    grid-template-columns: auto auto;
}
.rightempl .itemright{
    background-color:#fff;
    border-radius: 15px;
    margin:10px;
    padding:15px;
}
.itemright img{
    margin: 2px;
    width: 50px;
    height: 50px;
}
/* fin emploi */
.medias{
    background-color: #111;
    text-align: center;
    padding:40px;   
    color: #fff;
}
.medias .grmedias{
    margin:25px;
    
}
.grmedias img{
    margin:20px;
}
/* fin medias */
.soutien{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:100px;
}
.soutien .bodsout{
    display: grid;
    grid-template-columns:auto auto auto auto;
    margin:15px;
    
}
.itemsbosout{
    padding: 5px;
}
.itemsbosout img{
    width:270px;
    height:168px ;
    border-radius: 10px
}
.itemsfoot_sout{
    padding: 5px;
}
/* fin soutien */
.contact{
    background-color:#111;
    color: white;
    align-items: center;
    
}
.form_contact{
    display:flex;
    flex-direction:column;
    
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;;
}
.grid .itemgrid{
    margin: 10px;
    padding: 15px;
    background-color: #f1f0f3;
    border-radius: 10px
}
footer{
    width: 100%;
    padding: 10px;
    background-color:#2d2d2d;
    display: flex;
    color: white;
    line-height: 1.9em;

}
address{
    font-family: Roboto sans-serif;
    font-size:medium;
    
}
.foo{
    margin: 25px;
    
}

.newslet .elemnew{
    font-size: 25px;
    padding: 10px;
}
.rad{
    border-radius: 0px 15px 15px 0px;
    background-color:#dc3545;
    align-items: center;
    color: white;
}
.rad:hover{
    background-color:#2d2d2d3f;
}




